*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Comfortaa', cursive;
}

button, h1, a {
	font-family: 'Major Mono Display', monospace;
	color: black;
}

p, label{
	color: black;
}

.name-logo{
	color: black;
}

@media (max-width: 460px){
		.name-logo {
			font-size: unset;
		}
}

@media(max-width: 800px){
	.app-wrapper {
		
	}
}


